.page.social
  h1.page-title Social Media
  .social

script
  :coffee

    element = document.createElement "script"
    element.src = "components/social.js"
    document.body.appendChild element

    console.log "social.html loaded"
