// BEGIN defaults.style

$retina = 'only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)'
$laptop = 'only screen and (min-width: 800px)'

// relative to devDir
$bootstrap = "../bower_components/bootstrap-stylus/stylus/"
$anim = "/anim/"

$background = #453320
$theme-dark = #081451
$theme-light = aliceblue
$highlight = #2595C7
$highlight-hover = #c000c0
$text-light = aliceblue
$text-dark = #000
$text-special = #C8B876
$texthover = yellow
$titles = #A9D0E2
$brand-color = #7F8C13

// END defaults.style
