doctype html
html
  head
    title= pageTitle
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(http-equiv="Cache-control", content="no-cache")
    meta(http-equiv="Cache-control", content="no-store")
    link(rel="apple-touch-icon" sizes="57x57" href="content/icons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="114x114" href="content/icons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="72x72" href="content/icons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="144x144" href="content/icons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="60x60" href="content/icons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="120x120" href="content/icons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="76x76" href="content/icons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="152x152" href="content/icons/apple-touch-icon-152x152.png")
    link(rel="icon" type="image/png" href="content/icons/favicon-196x196.png" sizes="196x196")
    link(rel="icon" type="image/png" href="content/icons/favicon-160x160.png" sizes="160x160")
    link(rel="icon" type="image/png" href="content/icons/favicon-96x96.png" sizes="96x96")
    link(rel="icon" type="image/png" href="content/icons/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="content/icons/favicon-32x32.png" sizes="32x32")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="msapplication-TileImage" content="/mstile-144x144.png")

    //- link(href='http://fonts.gstatic.com/s/laila/v1/JBUIIJj0-G2GVTwQf-wy0qCWcynf_cDxXwCLxiixG1c.woff' rel='stylesheet' type='text/css')
    style
      include tmp/splash.css
  body
    #mainContainer
      .main
        .menu
        .content
          .page.home
            .content
              .text-sf
                | San Francisco
              .text-br
                | Bear Rendezvous
              .text-yr
                | February 12-16
              .text-hb
                | out of hibernation...
              p.intro.
                Every February for 17 years hundreds of beary men descended upon San&nbsp;Francisco               for furry fun and frolic. The last IBR was in 2011 and it's been a hole in
                bear life ever since. Some dedicated men have come together to bring it out of
                hibernation. We hope you'll join us this year to help bring back this loved
                and missed tradition.
          .page.about
            .content
          .page.transportation
            .content
          .page.lodging
            .content
          .page.schedule
            .content
          .page.bearPasses
            .content
          .page.connect
            .content
    script
      include tmp/loader.js
