header
  h2 News
section
  article
    header
      h3 Folsom Street Fair
    p
      | With Folsom right around the corner there's not a lot of
      | time to plan events, attend meetings, and  make phone calls.
      | As soon as things settle down we'll get back to work on
      | SFBR.
  article
    header
      h3 Get the Web App
    p
      | On your smart phone you can save this web page to your home screen.
      | All the information will be available just like any other App,
      | even when you're off line.
  article
    header
      h3 Sign up for the Newsletter
    p
      | Don't miss out on the latest news about hotel deals, new events,
      | or when Bear Tags go on sale. We'll send you occasional emails
      | to keep you up to date on everything you need to know to make the best
      | out of SFBR. Click on CONNECT.

