@require $bootstrap+"variables"
@require $bootstrap+"mixins/*"
@require $bootstrap+"normalize"
@require $bootstrap+"scaffolding"
@require $bootstrap+"utilities"
@require $bootstrap+"type"

@font-face
   font-family Laila
   font-style normal
   src url(http://fonts.gstatic.com/s/laila/v1/JBUIIJj0-G2GVTwQf-wy0qCWcynf_cDxXwCLxiixG1c.woff)

html
  background: $background

body
  box-sizing: border-box

.container, .container-fluid
  padding: 0

.main
  display: flex
  flex-direction: column
  justify-content: center
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: url('./content/images/fur.png') repeat

  .text-hb
    display: none
  color: $highlight
  >.content

    display: flex
    flex-direction: column
    justify-content: center
    flex: 1

.text-sf, .text-br, .text-hb, .text-yr, .intro
  opacity: 0

// Common page styles

.page-title
  display: none
  font-size: 25px
  margin-top: 10px
  margin-bottom: 10px
  @media $laptop
    display: block

.page
  display: none
  flex 1
  width:  100%
  opacity: 0;
  position: absolute
  top: 0
  left: 0
  background: url('./content/images/fur.png') repeat
  .content
    width: 100%
    height: 100%
    max-width: 600px
    margin: 0 auto
    line-height: 0.8em
    .container
      max-width: 600px
      margin-left: auto
      margin-right: auto
     
// Home Page
.home
  .content
    display: block
    width: 100%
    margin: 60px auto 0 auto
    padding: 0 3%
    @media $laptop
      margin: 120px auto 0 auto
    text-align: center
    background: transparent

    .text-sf, .text-br, .text-yr
      line-height: 100%
      font-size: 200%
      font-family: 'Laila', serif
      @media $retina
        font-size: 2em
      @media $laptop
        font-size: 3em
    .text-yr
      color: $text-special 

    .intro
      margin: 4% auto
      @media $laptop
        margin: 10% auto
      padding: 0 4%
      font-size: 1.1em
      @media $laptop
        font-size: 1.4em
      line-height 140%
      text-align: left
      font-weight: 200

    .text-hb, .text-yr
      font-size: 1.2em
      color: $brand
      font-weight: 600



