@require $bootstrap+"variables"
@require $bootstrap+"mixins/*"
@require $bootstrap+"normalize"
@require $bootstrap+"scaffolding"
@require $bootstrap+"utilities"
@require $bootstrap+"type"

@font-face
   font-family Laila
   font-style normal
   src url(http://fonts.gstatic.com/s/laila/v1/JBUIIJj0-G2GVTwQf-wy0qCWcynf_cDxXwCLxiixG1c.woff)

html
  background: $background

body
  box-sizing: border-box

.container, .container-fluid
  padding: 0

.main
  display: flex
  flex-direction: column
  justify-content: center
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: url('./content/images/fur.png') repeat

  .text-hb
    display: none
  color: $highlight
  >.content

    display: flex
    flex-direction: column
    justify-content: center
    flex: 1

.text-sf, .text-br, .text-hb, .text-yr, .intro
  opacity: 0

// Home Page
.home
  display: block
  position: absolute
  top: 70px !important
  @media $laptop
    top: 40%
  width: 100%
  text-align: center
  background: transparent

  .text-sf, .text-br, .text-yr
    line-height: 1em
    font-size: 1.8em
    font-family: 'Laila', serif
    @media $retina
      font-size: 2em
    @media $laptop
      font-size: 3em

  .intro
    font-size: 1.1em
    line-height 1.5em
    text-align: left
    margin: 3%
    font-weight: 200
    @media $laptop
      width: 40%
      margin: 50px auto

  .text-hb, .text-yr
    font-size: 1.2em
    color: $brand
    font-weight: 600

// Common page styles

.page-title
  display: none
  font-size: 25px
  margin-top: 10px
  margin-bottom: 10px
  @media $laptop
    display: block

.page
  display: none
  flex 1
  width:  100%
  opacity: 0;
  position: absolute
  top: 50px
  left: 0
  background: url('./content/images/fur.png') repeat
  .content
    width: 100%
    height: 100%


