// mainMenu

.navbar-header
  background-color: $theme-dark
  height: 46px
  @media $laptop
    height: 0

.navbar-default
  background: $theme-dark
  border-color: $theme-dark
  .navbar-brand,
  .navbar-brand:hover,
  .navbar-brand:focus
    sprite($claw-beige-cutout)
    background-color: $theme-dark
    height: 50px
    font-variant: small-caps
    text-align: left
    padding-right: 34px
    @media $laptop
      display: none
  .navbar-toggle,
  .navbar-toggle:hover,
  .navbar-toggle:focus
    width: 50px
    border-color: transparent;
    background: transparent
    .icon-bar
      float:right
      clear:right
      background-color: rgba(200,200,200,.5)
      width: 28px
      height: 2px

.navbar-title
  position: absolute
  top: 0
  left: 20%
  width: 60%
  font-size: 1.6em
  text-align: center
  @media $laptop
    display: none

.navbar-nav
  background: transparent
  margin: 0
  padding: 0
  text-align: right
  @media $laptop
    text-align: center
    float: none

.navbar-collapse
  margin-left: 0 !important
  margin-right: 0 !important
  padding-left: 0
  padding-right: 0
  width: 100%
  background-color: transparent
  border: 0

.navbar-nav>li
  background-color: transparent
  @media $laptop
    float: none
    display: inline-block

.navbar-default .navbar-nav>li>a
  line-height: .8em
  font-size: 2em
  color: $titles
  @media $laptop
    font-size: 140%
  &:hover, &:focus, &.active
    color: $highlight



