.schedule
  .content
    max-width: 600px
    margin: 124px auto
    nav
      position: fixed
      top: 46px
      width: 100%
      max-width: 600px
      background-color: $theme-dark
    @media $laptop
      margin-top: 30px;
      margin-bottom: 20px;
    .nav
      margin: 0
      >li>a
        padding: 10px 7px
        background-color: transparent
    .nav-tabs
      border-bottom: 0
      >li
        width: 20%
        >a
          font-size: 0.9em
          font-weight: 400 
          @media $laptop
            font-size: 1.1em
          line-height: 1.4em 
          text-align: center
          border: none
          border-bottom: $text-special solid
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover
      background-color: transparent
      border: transparent
      border-bottom: $clickme solid
      color: $text-special
      font-weight: 400 
    .tab-content
      margin-top: 90px
      @media $laptop
        margin-top: 130px
    .panel
      background-color: #d0dfef
      margin-bottom: 0
      margin-top: 1px
    .panel-default>.panel-heading
      background-color: $theme-dark
      border-color: $theme-light
      text-align: left
      padding-right: 4px
    .panel-title
      font-size: 1.1em
      font-weight: 300
      color: $text-special
      span:nth-child(2)
        float: right
        font-family: Laila
        font-size: .8em
        color: $highlight

