.specialdeals
  .container, .content
    margin: 0 auto
    @media $laptop
      max-width: 600px !important
  .content
    margin: 53px auto 20px auto
    @media $laptop
      margin-top: 120px
    .mainPanel
      background-color: transparent
      border: none
      .notice
        text-align: center
        font-weight: 400
        font-size: 13px
        margin: 3px 0 20px 0
        color: $text-special
        strong
          color: $danger-dark
          background-color: $danger
          padding: 0 2px;
          border-radius: 3px;
      .panel-body
        padding: 0
        .nav-pills>li.active>a,
        .nav-pills>li.active>a:focus,
        .nav-pills>li.active>a:hover
          color: $text-special
          background-color: $theme-dark
        .tab-pane
          .panel-danger>.panel-heading
            color: $danger-dark
            background-color: $danger
          h3
            font-size: 1.2em
            line-height: 0.5
            margin-top: 16px
          .panel-title
            font-variant: small-caps
          .panel-body
            >.logo
              float: right
              margin: 0 20px
              img
                display: block
                max-width: 80px
                max-height: 80px
            .gmap
              float: right
              img
                padding: 10px
                max-width: 100px
                max-height: 100px
              height: 100px
            .info
              float: left
              padding-left: 5px
              li
                padding: 10px 0
                list-style: none
                line-height: 1.1
                color: $text-dark

  .triptych
    .logo
      sprite($triptych)

