.schedule
  .schedule-panel
    margin: 0 auto
    width: 90%
    @media $laptop
      width: 50%
  h1, .h1, h2, .h2, h3, .h3
    @media $laptop
      margin-top: 30px;
      margin-bottom: 20px;
  .panel
    background-color: #d0dfef
  .panel-default>.panel-heading
    color: $text-light
    background-color: $theme-dark
    border-color: $theme-light
    text-align: left
    
