$Other-Mail-Metro-icon = -5px -5px 256px 256px
$YouTube-60x60 = -5px -271px 60px 60px
$google-plus-icon = -5px -341px 60px 60px
$instagram-60x60 = -5px -411px 60px 60px
$sfeagle-logo = -5px -481px 200px 200px
$twitter = -5px -691px 60px 60px

sprite-width($sprite)
  width $sprite[2]

sprite-height($sprite)
  height $sprite[3]

sprite-position($sprite)
  background-position $sprite[0]  $sprite[1]

sprite($sprite)
  sprite-position($sprite)
  background-repeat no-repeat
  overflow hidden
  display block
  sprite-width($sprite)
  sprite-height($sprite)

.icon
  background-image url('../content/images/sprite.png')

