.schedule
  h1.page-title Schedule
  .info
  script
    :coffee
      element = document.createElement "script"
      element.src = "components/schedulePanel.js"
      document.body.appendChild element
