.page.schedule
  h1.page-title Schedule
  .schedule-panel

script
  :coffee

    element = document.createElement "script"
    element.src = "components/schedulePanel.js"
    document.body.appendChild element

    console.log "main.html loaded"
